body{
    font: 20px Arial, sans-serif;
}

.navbar {
   background-color:#31B404;
}

.quem-somos{
    background-color: #9F81F7;
    color: white;
}
.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #58FAF4;
}